*{
    margin: 0;
    padding: 0;
}

.grilla{
    display: grid;
}

img{
    height: 100%;
    width: 100%;
}

ul{
    display: flex;
    list-style-type: none;
    background-color: white;
}

li{
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

header{
    height: 500px;
    display: flex;
}

header h1{
    font-family: 'Bebas Neue', cursive;
}

footer{
    height: 100px;
    background-color: rgb(28, 28, 59);
    display: flex;
    color: white;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 18px;
}

.instagram{
    height: 30px;
    width: 30px;
}

.youtube{
    height: 30px;
    width: 30px;
}

.spotify{
    height: 30px;
    width: 30px;
}

button:hover{
    font-size: 30px;
}

/*              GALERIA VIEWPORT + 600PX         */

@media only screen and (min-width: 600px){
    

    header{
        height: 300px;
        background-color: white;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .titulo_header{
        font-size: 61px;
    }

    .logo_header{
        height: 40%;
        width: 10%;
    }

    .header_menu li{
        flex-direction: row;
        margin: 0rem 1.5rem;
    }

    .carrusel{
            width: 800px;
            height: 800px;
    }

    .cuerpogaleria{
        background-color: black;
        height: 1400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    p{
        text-align: center;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        color: white;
        margin: 15px;        
    }


    footer{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }



    /*        INDEX   */ 


    .main_body{
        background-image: linear-gradient(black,rgb(65, 25, 25));
        height: 800px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    .img_body{
        padding: 10px;
        height: 500px;
        width: 60%;
        filter: grayscale(100%);
    }

    .img_body:hover{
        filter: grayscale(0%);
    }

    .comentario{
        color: white;
        font-family: 'Inconsolata', monospace;
        font-size: 45px;
        text-align: center;
  
    }

    .contenido{
        height: 800px;
        background-image: linear-gradient(rgb(65, 25, 25),black);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
    }

    .videoyt{
        width: 1100px;
        height: 600px;
    }

    .romafonic{
        color: white;
        text-align: center;
        font-size: 15px;
        font-family: 'MuseoModerno', cursive;
    }





    /*        DISCOGRAFIA   */ 

    .grilla_racing{
        background-color: black;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 500px 500px;
        grid-template-areas:"album_uno album_dos"
                            "album_tres album_cuatro";
        height: 1200px;
        align-content: space-around;
        justify-content: center;
        align-items: center;

    }

    .album_uno{
        text-align: center;
     }

     .album_uno:hover{
        transform: scale(1.5,1.1);
     }

    .album_dos{
        text-align: center;
    }

    .album_dos:hover{
        transform: scale(1.5,1.1);
     }

    .album_tres{
        text-align: center;

    }

    .album_tres:hover{
        transform: scale(1.5,1.2);
     }

    .album_cuatro{
        text-align: center;
   
    }

    .album_cuatro:hover{
        transform: scale(1.5,1.3);
     }

    .tapa_disco{
        height: 200px;
        width: 200px;
    }


    .lista_cancion{
        display: inline-block;
        align-items: center;
        background-color: black;
    }

    .song{
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
    }
    
    .nombre_album{
        color: white;
        text-align: center;
        justify-content: space-evenly;
        padding: 20px;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 30px;
    }

    .bi-spotify{
        font-size: 20px;
        color: yellow;
    }

        /*        CONTACTO   */
        
        
    .padre_contenedor{
        background-image: url(../img/publico1.jpg);
        height: 1200px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;
        color: white;
    }


    /*        MUSICOS   */ 
    
    .form_titulo{
        color: white;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 80px;
    }

    .texto_form{
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    .main_musicos{
        background-image: linear-gradient(black,rgb(43, 21, 21));
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 1000px;
        text-align: center;
        padding: 50px;
        border-bottom: 1px solid white;
    
    }
    
    .rocko{
       height: 30%;
       width: 300px;
    }
    
    .tomi{
        height: 30%;
        width: 300px;
    }
    
    .marta{
        height: 30%;
        width: 300px;
    }
    
    .ezeq{
        height: 30%;
        width: 300px;
    }
    
    .img_rocko{
        height: 580px;
        width: 300px;
    }
    
    .img_tomi{
        height: 580px;
        width: 300px;
    }
    
    .img_marta{
        height: 580px;
        width: 300px;
    }
    
    .img_ezeq{
        height: 580px;
        width: 300px;
    }
    
    .name_inst{
        color: white;
        font-family: 'Oswald', sans-serif;
        text-align: center;   
        padding: 10px;
    }
    
    .inst{
        height: 30px;
        width: 30px;
    }
    
    
    .biografia_padre{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        height: 30%;
        background-color: rgb(0, 0, 0);
    }
    
    
    .biografia_texto{
        display: flex;
        flex-direction: row;
        justify-content: space-aroundo;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Baloo Da 2', normal;
        font-size: 15px;
        color: white;
    }
    
    .img_bad{
        height: 500px;
        width: 600px;
        padding: 10px;
    }
    
    .titulo_bio{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-family: 'Mate SC', serif;
        font-size: 60px;
    }

    .historia_banda{
        height: 1200px;
        background-image: linear-gradient(rgb(43, 21, 21),black);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        justify-content: space-evenly;
        text-align: center;   
        align-content: space-between;
    }

    .img_fuma{
        height: 60%;
        transform: rotatey(360deg);
        transition-duration: 10s;
        display: inline;
        padding: 1rem 12rem;
        align-items: center;

    }

    .titulo_historia{
        color: white;
        font-family: 'Mate SC', serif;
        animation-name: titulohistoria;
        animation-duration: 7s;
        font-size: 50px;
    }

    @keyframes titulohistoria{
        
        0%{
            font-size: 10px;
            color: white;
        }

        30%{
            font-size: 20px;
            color: white;
        }

        60%{
            font-size: 30px;
            color: white;
        }

        90%{
            font-size: 40px;
            color: white;
        }
    }




    .historia{
        color: white;
        font-family: 'Baloo Da 2', normal;
    }

    .tomiuno{
        height: 755px;
    }

    .rockop{
        color: black;
        font-size: 20px;
    }

    .tomip{
        color: black;
        font-size: 20px;
    }

    .martap{
        color: black;
        font-size: 20px;
    }

    .ezep{
        color: black;
        font-size: 20px;
    }







}







/*          VIEWPORT MAXIMO 600PX    */


@media only screen and (max-width: 600px){


    header{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
    header h1{
        font-family: 'Bebas Neue', cursive;
        font-size: 50px;
    }

    .grilla{
        background-color: black;
        height: 2500px;
        grid-template-columns: 90%;
        grid-template-rows: 400px 400px 400px 400px 400px 400px;
        grid-template-areas:"foto1" 
                            "foto2"
                            "foto3"
                            "foto4"
                            "foto5"
                            "foto6";
        align-content: space-around;
        justify-content: center;

    }

    .img_body{
        filter: grayscale(100%);
    }

    .img_body:hover{
        filter: grayscale(0%);
    }

    ul{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .logo_header{
        height: 30%;
        width: 30%;
    }

    footer{
        font-size: 15px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    body{
        height: 1800px;
    }

    .main_body{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        height: 800px;
        border-bottom: 1px solid white;
    }

    .img_body{
        height: 370px;
        width: 350px;
    }

    .comentario{
        color: white;
        font-family: 'Inconsolata', monospace;
        font-size: 28px;
        text-align: center;
    }

    .contenido{
        height: 600px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .videoyt{
        height: 300px;
        width: 300px;
    }

    .romafonic{
        flex-direction: row; 
        justify-content: space-between;
        color: white;
        text-align: center;
        font-size: 13px;
        margin: 10px;
        font-family: 'MuseoModerno', cursive;

    }

    .grilla_discografia{
        background-color: black;
        height: 2300px;
        display: flex;
    
    }

    .lista_cancion{
        background-color: black;
        padding: 10px;
    }

    .nombre_album{
        color: white;
        text-align: center;
        font-family: 'Edu SA Beginner', cursive;
        font-size: 20px;
        padding: 20px;
    }
    .song{
        color: white;
        font-size: 15px;
        font-family: 'Oswald', sans-serif;
        }

    .tapa_disco{
        height: 200px;
        width: 200px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .discografia_main{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        gap: 80px;
        padding: 20px;    
    
    }


    .spot_disc{
        height: 40px;
        width: 40px;
    }

    .img_spot{
        flex-direction: column;
        align-items: center;
    }

  .padre_contenedor{
        background-image: url(../img/publico1.jpg);
        display: flex;
        height: 1200px;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
  }


    .form_titulo{
        color: white;
        font-family: 'Edu SA Beginner', cursive;
    }

    .texto_form{
        color: white;
        font-family: 'Anton', sans-serif;
    }
    
    .main_musicos{
        background-image: linear-gradient(black,rgb(48, 12, 12));
        height: 3000px;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 400px 400px 400px 400px;
        grid-template-areas:"foto1"
                            "foto2"
                            "foto3"
                            "foto4";
        justify-items: center;
        border-bottom: 1px solid white;
        text-align: center;
        align-content: space-around;
    }
    
    .nombreyp{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .inst{
        height: 30px;
        width: 30px;
    }
    





    .historia_banda{
        background-image: linear-gradient(rgb(48, 12, 12),black);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        height: 1000px;
    }


    @keyframes titulohistoria{
        
        0%{
            font-size: 10px;
            color: white;
        }

        30%{
            font-size: 20px;
            color: white;
        }

        60%{
            font-size: 30px;
            color: white;
        }

        90%{
            font-size: 40px;
            color: white;
        }
    }



    .img_bandafp{
        height: 300px;
        width: 500px;
        transform: rotateX(360deg);
        transition-duration: 5s;
        
    }

    .titulo_historia{
        animation-duration: 4s;
        animation-name: titulohistoria;
        color: white;
        font-family: 'Mate SC', serif;
    }

    .historia{
        color: white;
        animation-name: historiatexto;
        text-align: center;
        transition-duration: 4s;
        transform: rotate(360deg);
        font-family: 'Baloo Da 2', normal;
    }


